# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.py.class

# Environment
.env
.venv/
env/
venv/
ENV/

# VSCode / PyCharm / Editors
.vscode/
.idea/
*.swp
*.swo

# Byte-compiled / distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# FastAPI / Uvicorn logs
*.log

# Mypy / Pyre / Pytype
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Pytest cache
.pytest_cache/

# SQLite / Postgres / DB
