<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {%block title%}

    {%endblock title%}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    {%block head%}
    
    {%endblock head%}
</head>
<body>

    <header class="main-header container">
        <a href="#" class="logo">
            <i class="fa-solid fa-comments"></i> ConnectSphere
        </a>
        <nav class="main-nav">
            <a data-modal-target="loginModal" class="btn-login">Login</a>
            <a data-modal-target="registerModal" class="btn-register">Register</a>
        </nav>
    </header>


    {%block content%}

    
    {%endblock content%}
   <footer class="main-footer container">
        <p>&copy; 2025 ConnectSphere. All Rights Reserved.</p>
    </footer>
    
    {%block scripts%}

    {%endblock scripts%}
</body>
</html>