 <div class="modal-overlay" id="registerModal">
        <div class="modal-content">
            <button class="close-btn">&times;</button>
            <h2>Join ConnectSphere</h2>
            <form id="registerForm">
                <div id="form-message" class="form-message"></div>
                <div class="form-group">
                    <label for="registerName">Name</label>
                    <input type="text" id="registerName"  name="name" required>
                </div>
                <div class="form-group">
                    <label for="registerEmail">Email Address</label>
                    <input type="email" id="registerEmail" name="email" required>
                </div>
                <div class="form-group">
                    <label for="registerPassword">Password</label>
                    <input type="password" id="registerPassword" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Create Account</button>
            </form>
        </div>
    </div>
